In [1]:
import pandas as pd

# Charger les donn√©es
url = "https://physionet.org/files/eicu-crd-demo/2.0.1/"
patients_data = pd.read_csv(url + "patient.csv.gz")

In [2]:
patients_data

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141764,129391,Female,87,Caucasian,59,91,NaN,157.5,23:36:00,...,ICU to SDU,2,stepdown/other,NaN,NaN,18:58:00,344,Home,Alive,002-1039
1,141765,129391,Female,87,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",157.5,23:36:00,...,Emergency Department,1,admit,46.5,45.0,13:14:00,2250,Step-Down Unit (SDU),Alive,002-1039
2,143870,131022,Male,76,Caucasian,68,103,"Endarterectomy, carotid",167.0,20:46:00,...,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive,002-12289
3,144815,131736,Female,34,Caucasian,56,82,"Overdose, other toxin, poison or drug",172.7,01:44:00,...,Emergency Department,1,admit,60.3,60.7,20:48:00,1121,Other External,Alive,002-1116
4,145427,132209,Male,61,Caucasian,68,103,"GI perforation/rupture, surgery for",177.8,23:48:00,...,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive,002-12243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,2741766,Female,62,Caucasian,459,1108,"Fistula/abscess, surgery for (not inflammatory...",165.1,16:08:00,...,Operating Room,1,admit,134.5,133.3,19:24:00,5394,Step-Down Unit (SDU),Alive,035-10391
2516,3352230,2742186,Male,41,African American,458,1107,"CABG alone, coronary artery bypass grafting",177.8,21:21:00,...,Operating Room,2,transfer,127.0,128.5,21:34:00,4261,Telemetry,Alive,035-10089
2517,3352231,2742186,Male,41,African American,458,1104,"Infarction, acute myocardial (MI)",177.8,21:21:00,...,Direct Admit,1,admit,127.0,135.2,22:26:00,1369,Other ICU,Alive,035-10089
2518,3352333,2742269,Male,72,Caucasian,458,1111,GI obstruction,177.8,20:00:00,...,Other Hospital,1,admit,68.3,66.5,17:26:00,4166,Floor,Alive,035-10041
2519,3353113,2742979,Male,50,Caucasian,459,1108,Drug withdrawal,188.0,17:33:00,...,Floor,1,admit,88.0,83.9,18:45:00,2694,Telemetry,Alive,035-10030

In [3]:
# Colonnes √† supprimer (celles qui ne sont pas utiles)
colonnes_inutiles = ['patientunitstayid', 'patienthealthsystemstayid', 'hospitalid', 'wardid',
                     'hospitaladmittime24', 'hospitaladmitoffset', 'hospitaldischargeyear',
                     'hospitaldischargetime24', 'hospitaldischargeoffset', 'hospitaldischargelocation',
                     'unittype', 'unitadmittime24', 'unitadmitsource', 'unitvisitnumber', 'unitstaytype',
                     'dischargeweight', 'unitdischargetime24', 'unitdischargeoffset', 'unitdischargelocation',
                     'unitdischargestatus', 'uniquepid']

# Supprimer les colonnes inutiles
patients_data.drop(columns=colonnes_inutiles, inplace=True)

In [4]:
patients_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   2516 non-null   object
 1   age                      2516 non-null   object
 2   ethnicity                2481 non-null   object
 3   apacheadmissiondx        2221 non-null   object
 4   admissionheight          2451 non-null   float64
 5   hospitaladmitsource      1926 non-null   object
 6   hospitaldischargestatus  2492 non-null   object
 7   admissionweight          2322 non-null   float64
dtypes: float64(2), object(6)
memory usage: 157.6+ KB

In [5]:
patients_data.head()

,gender,age,ethnicity,apacheadmissiondx,admissionheight,hospitaladmitsource,hospitaldischargestatus,admissionweight
0,Female,87,Caucasian,NaN,157.5,NaN,Alive,NaN
1,Female,87,Caucasian,"Rhythm disturbance (atrial, supraventricular)",157.5,NaN,Alive,46.5
2,Male,76,Caucasian,"Endarterectomy, carotid",167.0,Operating Room,Alive,77.5
3,Female,34,Caucasian,"Overdose, other toxin, poison or drug",172.7,Emergency Department,Alive,60.3
4,Male,61,Caucasian,"GI perforation/rupture, surgery for",177.8,Emergency Department,Alive,91.7

In [6]:
# drop rows with missing values
patients_data.dropna(inplace=True)

In [7]:
# Creating Dummy Variables

dummies = []
cols = ['gender','ethnicity','hospitaladmitsource']
for col in cols:
    dummies.append(pd.get_dummies(patients_data[col]))
    
dummies_df = pd.concat(dummies, axis=1)
dummies_df.head()

,Female,Male,African American,Asian,Caucasian,Hispanic,Native American,Other/Unknown,Acute Care/Floor,Chest Pain Center,Direct Admit,Emergency Department,Floor,ICU,Operating Room,Other Hospital,Other ICU,PACU,Recovery Room,Step-Down Unit (SDU)
2,False,True,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
6,True,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
8,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [8]:
# extraire le Y et les x 

df = pd.concat([patients_data, dummies_df], axis=1)
df.drop(columns=cols, inplace=True)

In [9]:
df.head()

,age,apacheadmissiondx,admissionheight,hospitaldischargestatus,admissionweight,Female,Male,African American,Asian,Caucasian,...,Direct Admit,Emergency Department,Floor,ICU,Operating Room,Other Hospital,Other ICU,PACU,Recovery Room,Step-Down Unit (SDU)
2,76,"Endarterectomy, carotid",167.0,Alive,77.5,False,True,False,False,True,...,False,False,False,False,True,False,False,False,False,False
3,34,"Overdose, other toxin, poison or drug",172.7,Alive,60.3,True,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
4,61,"GI perforation/rupture, surgery for",177.8,Alive,91.7,False,True,False,False,True,...,False,True,False,False,False,False,False,False,False,False
6,55,"Endarterectomy, carotid",157.5,Alive,72.5,True,False,False,False,True,...,False,False,False,False,True,False,False,False,False,False
8,28,"Overdose, other toxin, poison or drug",182.9,Alive,91.8,False,True,False,False,True,...,False,True,False,False,False,False,False,False,False,False

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1562 entries, 2 to 2519
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      1562 non-null   object
 1   apacheadmissiondx        1562 non-null   object
 2   admissionheight          1562 non-null   float64
 3   hospitaldischargestatus  1562 non-null   object
 4   admissionweight          1562 non-null   float64
 5   Female                   1562 non-null   bool
 6   Male                     1562 non-null   bool
 7   African American         1562 non-null   bool
 8   Asian                    1562 non-null   bool
 9   Caucasian                1562 non-null   bool
 10  Hispanic                 1562 non-null   bool
 11  Native American          1562 non-null   bool
 12  Other/Unknown            1562 non-null   bool
 13  Acute Care/Floor         1562 non-null   bool
 14  Chest Pain Center        1562 non-null   bool
 15  Direct Admit             1562 non-null   bool
 16  Emergency Department     1562 non-null   bool
 17  Floor                    1562 non-null   bool
 18  ICU                      1562 non-null   bool
 19  Operating Room           1562 non-null   bool
 20  Other Hospital           1562 non-null   bool
 21  Other ICU                1562 non-null   bool
 22  PACU                     1562 non-null   bool
 23  Recovery Room            1562 non-null   bool
 24  Step-Down Unit (SDU)     1562 non-null   bool
dtypes: bool(20), float64(2), object(3)
memory usage: 103.7+ KB

In [11]:
# fill the missing values
df['admissionweight'] = df['admissionweight'].interpolate() # fill the missing values with the mean

df['age'] = df['age'].interpolate() # fill the missing values with the mean

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1562 entries, 2 to 2519
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      1562 non-null   object
 1   apacheadmissiondx        1562 non-null   object
 2   admissionheight          1562 non-null   float64
 3   hospitaldischargestatus  1562 non-null   object
 4   admissionweight          1562 non-null   float64
 5   Female                   1562 non-null   bool
 6   Male                     1562 non-null   bool
 7   African American         1562 non-null   bool
 8   Asian                    1562 non-null   bool
 9   Caucasian                1562 non-null   bool
 10  Hispanic                 1562 non-null   bool
 11  Native American          1562 non-null   bool
 12  Other/Unknown            1562 non-null   bool
 13  Acute Care/Floor         1562 non-null   bool
 14  Chest Pain Center        1562 non-null   bool
 15  Direct Admit             1562 non-null   bool
 16  Emergency Department     1562 non-null   bool
 17  Floor                    1562 non-null   bool
 18  ICU                      1562 non-null   bool
 19  Operating Room           1562 non-null   bool
 20  Other Hospital           1562 non-null   bool
 21  Other ICU                1562 non-null   bool
 22  PACU                     1562 non-null   bool
 23  Recovery Room            1562 non-null   bool
 24  Step-Down Unit (SDU)     1562 non-null   bool
dtypes: bool(20), float64(2), object(3)
memory usage: 103.7+ KB

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6180\2349617003.py:4: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df['age'] = df['age'].interpolate() # fill the missing values with the mean

In [12]:
x = df.values 
y = df['hospitaldischargestatus'].values

In [13]:
import numpy as np

x = np.delete(x, 0, axis=1) # delete the target variable from the features

In [14]:
# Devide the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)