In [1]:
import pandas as pd

# Charger les données
url = "https://physionet.org/files/eicu-crd-demo/2.0.1/"
lab_data = pd.read_csv(url + "lab.csv.gz")

In [3]:
# Afficher les 5 premières lignes
lab_data.head()

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
0,437880563,1754323,-647,3,Hct,38.30,38.3,%,%,-631
1,437880572,1754323,-647,3,platelets x 1000,181.00,181,K/mcL,k/mm cu,-631
2,437880560,1754323,-647,3,RBC,4.86,4.86,M/mcL,m/mm cu,-631
3,437880570,1754323,-647,3,-monos,8.70,8.7,%,%,-631
4,437880571,1754323,-647,3,MCHC,30.40,30.4,g/dL,%,-631

In [4]:
# 2. Supprimez les colonnes qui ne sont pas utiles.
colonnes_inutiles = ["labid", "patientunitstayid", "labresultoffset", "labtypeid"]
lab_data = lab_data.drop(columns=colonnes_inutiles)

In [5]:
# 3. Supprimez les lignes avec des valeurs manquantes.
lab_data = lab_data.dropna()

In [6]:
lab_data.head()

,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
0,Hct,38.30,38.3,%,%,-631
1,platelets x 1000,181.00,181,K/mcL,k/mm cu,-631
2,RBC,4.86,4.86,M/mcL,m/mm cu,-631
3,-monos,8.70,8.7,%,%,-631
4,MCHC,30.40,30.4,g/dL,%,-631

In [9]:
# 4. Prenez soin des données manquantes.
colonnes_to_fill = ["labresult"]

for col in colonnes_to_fill:
    lab_data[col] = lab_data[col].fillna("missing")

colonnes_to_interpolate = ["labresult", "labresulttext"]

for col in colonnes_to_interpolate:
    lab_data[col] = lab_data[col].interpolate(method="pad")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18132\2646577006.py:10: FutureWarning: Series.interpolate with method=pad is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lab_data[col] = lab_data[col].interpolate(method="pad")

In [10]:
# 5. Convertissez le bloc de données en NumPy
lab_data.to_numpy()

array([['Hct', 38.3, '38.3', '%', '%', -631],
       ['platelets x 1000', 181.0, '181', 'K/mcL', 'k/mm cu', -631],
       ['RBC', 4.86, '4.86', 'M/mcL', 'm/mm cu', -631],
       ...,
       ['MCV', 92.0, '92', 'fL', 'fL', 37],
       ['bedside glucose', 119.0, '119', 'mg/dL', 'mg/dL', 236],
       ['creatinine', 1.02, '1.02', 'mg/dL', 'mg/dL', 37]], dtype=object)